:root {
  --appSpacing: 1.2rem;
  --appSpacingX: 1rem;
  --appSpacingY: 1rem;

  --primaryColor: #316dda;
  --secondaryColor: #7aa5f1;
  --accentColor: #508cf8;
  --foregroundColor: hsl(210, 50%, 100%);
  --backgroundColor: #f9fbfd;
  --dangerColor: #f0758d;

  --navbarHeight: 72px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  font-family: "Roboto", sans-serif, Arial;
}

body {
  padding: var(--appSpacing);
  background-color: var(--backgroundColor);
}

#app {
  width: 100%;
}

button {
  cursor: pointer;
}

.btn {
  border: none;
}

.text-btn {
  border-radius: 8px;
  padding: 0.5rem 1rem;
  background-color: transparent;
}

.primary-btn {
  background-color: var(--primaryColor);
  color: #eee;
}

.primary-text-btn {
  background-color: transparent;
  color: var(--primaryColor);
}

.danger-btn {
  background-color: var(--dangerColor);
  color: #eee;
}

.danger-text-btn {
  background-color: transparent;
  color: var(--dangerColor);
}

/* Form */
form {
  position: relative;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--appSpacing);
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: calc(var(--appSpacing) / 2);
}

label {
  text-transform: capitalize;
}

input,
textarea,
select {
  padding: 1rem;
  border-radius: 5px; /* consider using theme */
  border: 1px solid var(--secondaryColor);
  background-color: var(--foregroundColor);
  width: 100%;
}

textarea {
  resize: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
}

.submit-btn {
  padding: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: var(--backgroundColor);
  background-color: var(--primaryColor);
  margin-top: auto;
  font-weight: bold;
}
