@mixin flex($direction: row, $gap: 0, $justify: start, $align: start) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
  justify-content: $justify;
  align-items: $align;
}

@mixin dimension($width, $height) {
  width: $width;
  height: $height;
}

@mixin position($pos, $top-or-bottom, $left-or-right) {
  position: $pos;
  #{$top-or-bottom}: 0;
  #{$left-or-right}: 0;
}

%flex-row-between {
  @include flex($justify: space-between, $align: center);
}

%fixed-top-left {
  @include position(fixed, top, left);
}

%full-container {
  @include dimension(100%, 100%);
}
