@use "base";
@use "utils";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: base.$fontStack;
}

body {
  padding: base.$appSpacing;
  background-color: base.$bgColor;
}

#app {
  width: 100%;
}

main {
  margin-top: 64px;

  .section {
    @include utils.flex(column, base.$appSpacing);
  }
}

button {
  cursor: pointer;
  border: none;
}

.text-btn {
  border-radius: base.$radius;
  padding: base.$paddingSpace;
  background-color: transparent;

  &.primary {
    background-color: base.$primaryColor;
    color: #eee;
  }

  &.danger {
    background-color: base.$dangerColor;
    color: #eee;
  }

  &.primary-outline {
    color: base.$primaryColor;
  }

  &.danger-outline {
    color: base.$dangerColor;
  }
}

.form {
  position: relative;
  width: 100%;
  min-height: 100%;
  @include utils.flex(column, base.$appSpacing);

  .input-group {
    width: 100%;
    @include utils.flex(column, 1rem);
  }

  label {
    text-transform: capitalize;
  }

  input,
  textarea,
  select {
    width: 100%;
    padding: 1rem;
    border-radius: base.$radius;
    border: 1px solid base.$secondaryColor;
    background-color: base.$foregroundColor;
  }

  textarea {
    resize: none;
  }

  input[type="number"] {
    appearance: textfield;
  }

  .submit-btn {
    width: 100%;
    padding: 0.8rem 1.2rem;
    margin-top: auto;
    font-weight: bold;
  }
}

.overlay {
  @include utils.dimension(100%, 100dvh);
  @extend %fixed-top-left;
  background-color: base.$bgColor;

  .content {
    @extend %full-container;
    @include utils.flex(column, $gap: 1rem);
    padding: base.$appSpacing 0;

    & > * {
      padding: 0 base.$appSpacing;
    }
  }

  .header {
    @include utils.flex($justify: space-between, $align: center);
  }

  .title {
    position: absolute;
    left: 50%;
    translate: -50%;
  }

  .main-content {
    @extend %full-container;
    margin-top: base.$appSpacing;
    overflow-y: auto;
  }
}

.panel {
  @include utils.flex(column, 0.5rem);
  padding: 1rem;
  border-radius: base.$radius;

  .title {
    font-size: base.$panelTitleSize;
    color: base.$secondaryTextColor;
    text-transform: capitalize;
  }

  .amount {
    font-size: base.$contentTitle;
    font-weight: bold;
    color: base.$textColor;
    margin-left: auto;
  }

  &.default {
    background-color: base.$foregroundColor;
    box-shadow: 5px 5px 15px rgba(20, 20, 20, 0.1);
  }

  &.primary {
    background-color: base.$primaryColor;
    box-shadow: 5px 5px 15px rgba(49, 109, 218, 0.1);

    .amount,
    .title {
      color: base.$foregroundColor;
    }
  }
}

.record {
  @include utils.flex($justify: space-between, $align: center);
  cursor: pointer;
  padding: 0.8rem 0;

  &:not(:last-child) {
    border-bottom: 1px solid rgba(200, 200, 200, 0.5);
  }
}
