@use "base";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: base.$fontStack;
}

body {
  padding: base.$appSpacing;
  background-color: base.$bgColor;
}

#app {
  width: 100%;
}

button {
  cursor: pointer;
  border: none;
}

.text-btn {
  border-radius: base.$radius;
  padding: base.$paddingSpace;
  background-color: transparent;

  &.primary {
    background-color: base.$primaryColor;
    color: #eee;
  }

  &.danger {
    background-color: base.$dangerColor;
    color: #eee;
  }

  &.primary-outline {
    color: base.$primaryColor;
  }

  &.danger-outline {
    color: base.$dangerColor;
  }
}
