@use "base" as *;
@use "utils" as *;

#navbar {
  @include dimension(100%, 72px);
  @include position(fixed, top, left);
  @extend %flex-row-between;
  padding: 0 $appSpacing;
  z-index: 100;
}

#mobile-navbar {
  @include dimension(100%, 48px);
  @include position(fixed, bottom, left);
  @extend %flex-row-between;
  padding: 0 $appSpacing;
  z-index: 100;
  background-color: #fff;
}
