@use "base";
@use "utils";

#navbar {
  @include utils.dimension(100%, 72px);
  @include utils.position(fixed, top, left);
  @extend %flex-row-between;
  padding: 0 base.$appSpacing;
  z-index: 100;
}

#mobile-navbar {
  @include utils.dimension(100%, 48px);
  @include utils.position(fixed, bottom, left);
  @extend %flex-row-between;
  padding: 0 base.$appSpacing;
  z-index: 100;
  background-color: #fff;
}
